@import url(sign-page.css);

div {
  width: 600px;
  height: 380px;
}
.login-btn {
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 50px;
  width: 28.5rem;
  height: 2.8rem;
  border-color: transparent;
  background-color: white;
  font-weight: 700;
  transition-duration: 0.3s;
  margin-bottom: 10px;
}
.login-btn:hover {
  background-color: #bec1c6;
  color: white;
}
a {
  color: pink;
  font-size: 16px;
  background-color: transparent;
  text-decoration: none;
}
