body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #d1d5db;
  background-color: #1f2937;
}

#title,
#content,
#writebtn {
  margin-top: 2px;
  margin-bottom: 10px;
  width: 45rem;
  /* height: 1.8rem; */
  background-color: #bec1c6;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
#title {
  height: 1.8rem;
}

#writebtn {
  margin-top: 70px;
  height: 2.8rem;
  border-color: transparent;
  background-color: white;
  font-weight: 700;
  transition-duration: 0.3s;
}
#writebtn:hover {
  /* filter: brightness(0.9); */
  background-color: #bec1c6;
  color: white;
}
